@font-face {
    font-family: geoReg;
    src: url(geo/Geo-Regular.ttf);
}

body {
    background-color: #1e1e1e;
}

div.mainbody{
    color: #FFFFFF;
    font-family: geoReg;
}

h1{
    margin-top: 0;
    font-size: 168px;
    text-align: center;
    margin-bottom: 0;
}
h3{
    margin-top: 0;
    font-size: 36px;
    text-align: center;
}

div.banner {
    color: #FFFFFF;
    font-family: geoReg;
    font-size: 48px;
    width: auto;
    height: 100px;
    background-color: #373737;
    text-align: center;
}

a{
    margin-left: 100px;
    margin-right: 100px;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #ABABAB;
    text-decoration: none;
}