@font-face {
    font-family: geoReg;
    src: url(geo/Geo-Regular.ttf);
}

body {
    background-color: #1e1e1e;
    width: auto;
    height: auto;
}

div.mainbody{
    color: #FFFFFF;
    font-family: geoReg;
}

h1{
    margin-top: 0;
    font-size:8vw;
    text-align: center;
    margin-bottom: 0;
}
h3{
    margin-top: 0;
    font-size: 2vw;
    text-align: center;
}

.banner {
    padding-top: 1vw;
    padding-bottom: 0vw;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-family: geoReg;
    font-size: 2vw;
    width: auto;
    height: 3vw;
    background-color: #373737;
    text-align: center;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #ABABAB;
    text-decoration: none;
}